@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

/* utility for glass cards */
.glass {
  @apply bg-gray-800 bg-opacity-30 backdrop-blur-lg border border-gray-700 rounded-lg;
}
